* {
  font-family: "0xProto Nerd Font", sans-serif;
  margin-top: 1px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 30px;
  transition: 0.2s all ease;
  color: #d7dbb1;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  min-height: 10px;
}

#workspaces {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 5px;
  border-radius: 30px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 2px 2px;
  min-height: 1px;
  border-radius: 50%;
  background-color: #1d261a;
}

#workspaces button.active {
  background-color: #7cb454;
  min-width: 30px;
  border-radius: 15px;
}

/* when a workspace shows up something that is opened on different worksapce than your current one this will trigger */
#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* the one that displays the programs name */
#window {
  background-color: rgba(0, 0, 0, 0.8);
}

#custom-cava {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px 4px;
}

#custom-cava {
  margin-left: 5px;
  padding: 0px 8px;
}

#clock {
  margin-right: 5px;
}

/* All modules on the right */
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock {
  padding: 0px 14px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Critical states only */
#network.disconnected {
  color: #eb4d4b;
}

#temperature.critical {
  background-color: #eb4d4b;
  color: #ffffff;
}

#battery.critical:not(.charging) {
  color: #eb4d4b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: #7cfc00;
  background-color: rgba(124, 252, 0, 0.1);
}

@keyframes blink {
  to {
    background-color: #eb4d4b;
    color: #181825;
  }
}

tooltip {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: #ffffff;
}
